.DS_Store
bin/
obj/

# Ignore node modules and build outputs for frontend projects
bo-frontend/node_modules/
bo-frontend/dist/
bo-frontend/.vite/

Frontend/node_modules/
Frontend/dist/
Frontend/.vite/
